rapidfuzz
pandas
nltk
scikit-learn
numpy
matplotlib
fastapi
uvicorn
pydantic
streamlit
joblib
requests
xgboost
torch
transformers
safetensors
langchain-google-genai
langchain-chroma
langchain-core
chromadb
langchain-chroma
langchain-google-genai
langchain-core
chromadb
